@font-face{
	font-family: original_font;
	src: url("../font/Montserrat-Regular.otf");
}
@font-face{
	font-family: one_font;
	src: url("../font/Lato2OFL/Lato-Light.ttf");
}
@font-face{
	font-family: qt_font;
	src: url("../font/HTOWERTI.otf");
	
}
@font-face{
	font-family: banner_font;
	src: url("../font/Freight Disp Black.otf");
}
@font-face{
	font-family: link_font;
	src: url("../font/Montserrat-Light.otf");
}
@font-face{
	font-family: name_header;
	src: url("../font/Freight Disp Black.otf");
}
@font-face{
	font-family: quote_font;
	src: url("../font/Freight Disp Book Italic.otf");
}
@font-face{
	font-family: three_font;
	src: url("../font/Lato2OFL/Lato-Black.ttf");
}

*, *:before, *:after{
	box-sizing: border-box;
}

.profile img{
	width: 20em;
	height: 20em;
	object-fit: cover;

}

#abt_us{
	margin-top: 3.5em;
}

.container h1{
	font-size: 4em;
	font-family: one_font;
} 

h2{
	margin-top: 0;
}

.name h4{
	margin-top: 0;
	/*color: #DCAE1D;*/
	color: rgba(249, 205, 74, 0.7);
}

hr.hr{
	border-top: solid double #8c8b8b;
	margin-bottom: 10px;
}

blockquote{
 	margin: 2.5em 0;
	border-left: solid 8px #CAE4DB;
	font-family: quote_font;
	font-size: 1.5em;
	letter-spacing: 1px;
}

strong{
	font-size: 1.5em;
}

.date{
	/*color: rgba(0, 48, 63, 0.6);*/
	color: #DDD;

}

.name{
	margin-left: 2em;
}
.name h2{
	font-family: name_header;
	font-size: 3em;
	word-spacing: 10px;
}
.info{
	text-align: center;
}

.qt{
	font-family: qt_font;
	font-size: 1.5em;
	color: #CAE4DB; 
}

.see{
	font-size: 2em;
	cursor: pointer;
	font-family: link_font;
	color: #00303F;

}


.see:hover{
	color: #7A9D96;
	text-decoration: none;
}

.projects h5{
	color: #7A9D96;
}

.info > *{
	text-align: left;
	width: 100%;
}
.skills{
	text-align: center;
}

.more_info p{
	font-size: 15px;
	margin: 10px auto 35px auto;
}

.more_info{
	display: none;
}

.more_info h3{
	text-align: center;
	margin-bottom: 3em;
	font-family: three_font;
	text-decoration: underline;
	text-decoration-color: rgba(0, 48, 63, 0.6);
	text-decoration: underline 10px;
}

.row{
	padding: 4em 0;
}

body {

	/*background-color: #f2f9f7;*/
	/*background-image: url("../medias/image1.jpg");*/
	font-family: original_font;
	color: #00303F;
}


.affiliations h3{
	font-family: name_header;
	font-size: 2.5em;
	margin-left: 10px;
	margin-bottom: 30px;
}

.bold {
	font-weight: bold;
	color: #00303F;
}

.banner {
	text-align: center;
	align-content: center;
}

.banner-img {
	width: 100%;
	height: 600px;
}

.banner-title {
	text-align: center;
	width: 40%;
	margin: auto;
	position: absolute;
	top: 250px;
	left: 30%;
	right: 30%;
	color: #00303F;
}

.banner-title > h1 {
	font-family: banner_font;  
	padding: 10px;
	border: 3px solid #fff;
	margin: 1%;
	font-weight: bold;
	word-spacing: 20px;
	text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.banner-title > h4 {
	margin-top: 10px;
	color: #f9cd4a;
}

.div-pills-div{
	width: 100%;
	background-color: #fff;
	border: 1px solid #DDD;
}

.div-pills-div > li > a {
	font-size: 18px;
	color: #00303F;	
}

.div-pills-div > li > a:hover {
	background-color: #DCAE1D;
}
	

.about-us, .skills, .affiliations, .gallery {
	padding: 10px;
}

.about-us {}

.skills {}

.affiliations {
	width: 100%;
}

.affi-entry {
	text-align: center;
	width: 25%;
	float: left;
}

.gallery {
	
}

.gallery > h2 {
	margin-top: 20px;
}

.gallery-img {
	width: 180px;
	height: 100px;
	margin: 3px;
}

/*.item > .gallery-caro,
.item > img {
	
	width: auto;
	height: 100%;
}*/

.gal-header {
	background-color: #fff;
}

.gal-header > ul > li > a {
	color: #00303F;
}

.gal-header > ul > li > a:hover {
	background-color: #CAE4DB;
	color: #DCAE1D;
}

.gal-tab-content {
	background-color: #00090c;
	padding: 5px;
}

.carousel {
	height: 370px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 55%;
      height: 370px;
      margin: auto;
}

.caro-lib {
	text-align: center;
}

.description{
	display: none;
}

