

.profile img{
	width: 20em;
	height: 20em;
	object-fit: cover;

}

/*#navbar{
	position: fixed;
	z-index: 1;
}*/
/*
.about{

	justify-content: space-around;
}*/

.row{
	padding: 5em 0 5em 0;
}

body {

	/*background-color: #f2f9f7;*/
	/*background-image: url("../medias/image1.jpg");*/
}

.bold {
	font-weight: bold;
	color: #00303F;
}

.banner {
	text-align: center;
	align-content: center;
}

.banner-img {
	width: 100%;
	height: 600px;
}

.banner-title {
	text-align: center;
	width: 40%;
	margin: auto;
	position: absolute;
	top: 250px;
	left: 30%;
	right: 30%;
	color: #00303F;  
	text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.banner-title > h1 {
	padding: 10px;
	border: 3px solid #fff;
	margin: 1%;
	font-weight: bold;
}

.banner-title > h4 {
	margin-top: 20px;
}

.div-pills-div{
	width: 100%;
	background-color: #fff;
	border: 1px solid #DDD;
}

.div-pills-div > li > a {
	font-size: 18px;
	color: #00303F;	
}

.div-pills-div > li > a:hover {
	background-color: #DCAE1D;
}
	

.about-us, .skills, .affiliations, .gallery {
	padding: 10px;
}

.about-us {}

.skills {}

.affiliations {
	width: 100%;
}

.affi-entry {
	text-align: center;
	width: 25%;
	float: left;
}

.gallery {
	
}

.gallery > h2 {
	margin-top: 20px;
}

.gallery-img {
	width: 180px;
	height: 100px;
	margin: 3px;
}

/*.item > .gallery-caro,
.item > img {
	
	width: auto;
	height: 100%;
}*/

.gal-header {
	background-color: #fff;
}

.gal-header > ul > li > a {
	color: #00303F;
}

.gal-header > ul > li > a:hover {
	background-color: #CAE4DB;
	color: #DCAE1D;
}

.gal-tab-content {
	background-color: #00090c;
	padding: 5px;
}

.carousel {
	height: 370px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 55%;
      height: 370px;
      margin: auto;
}

.caro-lib {
	text-align: center;
}

.description{
	display: none;
}

